<div class="container" ng-cloak="">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Sign up</strong>
                </h3>
            </div>
            <div class="panel-body">
                <div id="register">
                    <form name="register" novalidate role="form" class="inputdemoErrors css-form">
                        <md-content>
                            <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                                <md-tab label="Account">
                                    <md-content layout-padding="" ng-cloak="">
                                        <ng-form name="registerAccountForm">
                                            <div layout-gt-xs="row">
                                                <!--username-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Username</label>
                                                        <input
                                                                id="username"
                                                                name="username"
                                                                ng-model="data.account.username"
                                                                ng-minlength="4"
                                                                ng-maxlength="15"
                                                                username-validator
                                                                required
                                                        >
                                                        <div ng-messages="register.username.$error" role="alert">
                                                            <div ng-message="required">This is required</div>
                                                            <div ng-message="minlength">Username is too short</div>
                                                            <div ng-message="maxlength">Username is too long</div>
                                                            <div ng-message="pattern">Invalid username</div>
                                                            <div ng-message="unique">{{promise.value}}</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--password-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Set a password</label>
                                                        <input
                                                                id="password"
                                                                name="password"
                                                                type="password"
                                                                ng-model="data.account.password"
                                                                ng-disabled="register.username.$untouched || register.username.$invalid"
                                                                ng-minlength="4"
                                                                ng-maxlength="15"
                                                                required
                                                        >
                                                        <div ng-messages="register.password.$error" role="alert">
                                                            <div ng-message="required">This is required</div>
                                                            <div ng-message="minlength">Password is too short</div>
                                                            <div ng-message="maxlength">Password is too long</div>
                                                            <div ng-message="pattern">Invalid password</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--password_confirm-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Confirm password</label>
                                                        <input
                                                                id="password_confirm"
                                                                name="password_confirm"
                                                                type="password"
                                                                ng-model="data.account.password_confirm"
                                                                ng-disabled="register.password.$untouched || register.password.$invalid"
                                                                ng-minlength="4"
                                                                ng-maxlength="15"
                                                                password-validate="password"
                                                                required
                                                        >
                                                        <div ng-messages="register.password_confirm.$error"
                                                             role="alert">
                                                            <div ng-message="required">Repeat your password</div>
                                                            <div ng-message="minlength">Password is too short</div>
                                                            <div ng-message="maxlength">Password is too long</div>
                                                            <div ng-message="pattern">Invalid password</div>
                                                            <div ng-message="match">The first password does not match
                                                                with this
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <!--reset-->
                                            <div class="form_reset_btn">
                                                <md-button class="md-warn" ng-click="data.account = {}">Reset
                                                </md-button>
                                            </div>
                                            <!--next-->
                                            <div class="next_tab">
                                                <md-button md-no-ink="" ng-click="nextTab()"
                                                           ng-disabled="user_tab=registerAccountForm.$invalid"
                                                           class="md-primary">
                                                    Next
                                                </md-button>
                                            </div>

                                        </ng-form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="User"
                                        ng-disabled="user_tab">
                                    <md-content layout-padding="" ng-cloak="">
                                        <ng-form name="registerUserForm">
                                            <div layout-gt-xs="row">
                                                <!--firstname-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>First Name</label>
                                                        <md-icon md-svg-src="img/icons/ic_person_24px.svg"
                                                                 class="name"></md-icon>
                                                        <input
                                                                name="firstname"
                                                                ng-model="data.user.firstname"
                                                                required
                                                                to-upper-case
                                                                name-pattern
                                                        >

                                                        <div ng-messages="register.firstname.$error">
                                                            <div ng-message="required">This is required.</div>
                                                            <div ng-message="pattern">Invalid pattern!</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--lastname-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Last Name</label>
                                                        <md-icon md-svg-src="img/icons/ic_person_24px.svg"
                                                                 class="name"></md-icon>
                                                        <input
                                                                name="lastname"
                                                                ng-model="data.user.lastname"
                                                                required
                                                                to-upper-case
                                                                name-pattern
                                                        >

                                                        <div ng-messages="register.lastname.$error">
                                                            <div ng-message="required">This is required.</div>
                                                            <div ng-message="pattern">Invalid pattern!</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--gender-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <md-radio-group ng-model="data.user.gender" name="gender"
                                                                        required>
                                                            <md-radio-button class="md-primary" value="male">Male
                                                            </md-radio-button>
                                                            <md-radio-button class="md-primary" value="female">Female
                                                            </md-radio-button>
                                                        </md-radio-group>
                                                        <div ng-messages="register.gender.$error">
                                                            <div ng-message="required">This is required.</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div layout-gt-xs="row">
                                                <!--id-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Identity card number</label>
                                                        <input
                                                                name="id"
                                                                ng-model="data.user.id"
                                                                required
                                                                ng-minlength="8"
                                                                ng-maxlength="8"
                                                        >
                                                        <div ng-messages="register.id.$error">
                                                            <div ng-message="required">This is required</div>
                                                            <div ng-message="minlength || maxlength">A valid
                                                                identification number must consist of
                                                                exactly 8
                                                                digits/letters
                                                            </div>
                                                            <div ng-message="pattern">Invalid identity number</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--birthday-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Birthday</label>
                                                        <md-datepicker
                                                                name="birthday"
                                                                required
                                                                ng-model="data.user.birthday"
                                                                md-current-view="year"
                                                                md-placeholder="Enter date">
                                                        </md-datepicker>
                                                        <div ng-messages="register.birthday.$error">
                                                            <div ng-message="required">This is required.</div>
                                                        </div>

                                                    </md-input-container>
                                                </div>
                                                <!--vat-->
                                                <div flex-gt-xs="">
                                                    <md-input-container flex="100">
                                                        <label>Value-added tax</label>
                                                        <input
                                                                name="vat"
                                                                type="number"
                                                                ng-model="data.user.vat"
                                                                ng-minlength="9"
                                                                ng-maxlength="9"
                                                                required
                                                        >

                                                        <div ng-messages="register.vat.$error">
                                                            <div ng-message="required">This is required.</div>
                                                            <div ng-message="minlength || maxlength">A valid VAT number
                                                                must consist of exactly 9 digits
                                                            </div>
                                                            <div ng-message="pattern">Invalid VAT number</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <!--reset-->
                                            <div class="form_reset_btn">
                                                <md-button class="md-warn" ng-click="data.user = {}">Reset
                                                </md-button>
                                            </div>
                                            <!--next-->
                                            <div class="next_tab">
                                                <md-button md-no-ink="" ng-click="nextTab()"
                                                           ng-disabled="contact_tab=registerUserForm.$invalid"
                                                           class="md-primary">
                                                    Next
                                                </md-button>
                                            </div>

                                        </ng-form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Contact"
                                        ng-disabled="user_tab ||contact_tab">
                                    <md-content layout-padding="" ng-cloak="">
                                        <ng-form name="registerContactForm">
                                            <div layout-gt-xs="row">
                                                <!--email-->
                                                <div flex-gt-xs="33">
                                                    <md-input-container flex="">
                                                        <label>Enter your email</label>
                                                        <input
                                                                id="email"
                                                                name="email"
                                                                type="email"
                                                                class="form-control"
                                                                required
                                                                ng-model="data.contact.email"
                                                        >

                                                        <div ng-messages="register.email.$error">
                                                            <div ng-message="required">This is required</div>
                                                            <div ng-message="pattern">Invalid pattern</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <!--telephone-->
                                                <div flex-gt-xs="66">
                                                    <md-input-container flex="">
                                                        <label>Telephone</label>
                                                        <input
                                                                id="telephone"
                                                                type="tel"
                                                                class="form-control"
                                                                name="telephone"
                                                                ng-model="data.contact.telephone"
                                                        >
                                                        <div ng-messages="register.telephone.$error">
                                                            <div ng-message="pattern">Invalid telephone number</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <!--reset-->
                                            <div class="form_reset_btn">
                                                <md-button class="md-warn" ng-click="data.contact = {}">Reset
                                                </md-button>
                                            </div>
                                            <!--next-->
                                            <div class="next_tab">
                                                <md-button md-no-ink="" ng-click="nextTab()"
                                                           ng-disabled="address_tab=registerContactForm.$invalid"
                                                           class="md-primary">
                                                    Next
                                                </md-button>
                                            </div>
                                        </ng-form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Address"
                                        ng-disabled="user_tab ||contact_tab || address_tab">
                                    <md-content class="md-padding">
                                        <ng-form name="registerAddressForm">
                                            <div layout-gt-xs="row">
                                                <!--address-->
                                                <div flex-gt-xs="100">
                                                    <div style="margin-bottom: 12px"
                                                         class="input-group">
                                                        <label class="input-group-addon" for="address">
                                                            <i class="glyphicon glyphicon-home"></i>
                                                        </label>
                                                        <input id="address" type="text" class="form-control"
                                                               name="address"
                                                               placeholder="Address" required
                                                               ng-model="data.address.address">

                                                        <span ng-hide="!register.address.$touched || register.address.$valid"
                                                              class='required'>*</span>

                                                        <!--Danger alert-->
                                                        <div class="alert alert-danger input-message" role="alert"
                                                             ng-show="(register.address.$touched || register.address.$dirty) && register.address.$invalid">
                                                            <span ng-bind="alert"></span>
                                                        </div>

                                                        <!--Success alert-->
                                                        <div class="alert alert-success input-message" role="alert"
                                                             ng-show="register.address.$valid">
                                                            <span ng-bind="alert"></span>
                                                            <span class="glyphicon glyphicon-ok"
                                                                  aria-hidden="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--reset-->
                                            <div class="form_reset_btn">
                                                <md-button class="md-warn" ng-click="data.address = {}">Reset
                                                </md-button>
                                            </div>
                                            <!--next-->
                                            <div class="next_tab">
                                                <md-button md-no-ink="" ng-click="nextTab()"
                                                           ng-disabled="submit_tab=registerAddressForm.$invalid"
                                                           class="md-primary">
                                                    Next
                                                </md-button>
                                            </div>
                                        </ng-form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Submit"
                                        ng-disabled="user_tab ||contact_tab || address_tab || submit_tab">
                                    <md-content class="md-padding">
                                        <ng-form name="registerSubmitForm">
                                            <ul class="w3-ul">
                                                <li ng-repeat="(key,value) in data" class="w3-ul">
                                                    {{key}}
                                                    <ul>
                                                        <li ng-repeat="(key,value) in value" class="w3-hover-red">
                                                            {{key}}: {{value}}
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                            <hr style="margin-top:10px;margin-bottom:10px;">

                                            <!--BUTTON: Signup-->
                                            <button ng-disabled="register.$invalid || register.$pending"
                                                    class="btn btn-success"
                                                    ng-click="termsDialog($event)">Register
                                            </button>

                                            <div ng-if="status" id="status" class="alert alert-info">
                                                <b>{{status}}</b>
                                            </div>
                                        </ng-form>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </form>
                </div>

                <hr style="margin-top:10px;margin-bottom:10px;">

                <div class="form-group">
                    <div style="font-size:85%">
                        You have already account ?
                        <a href="#/login">Sign in!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>