<md-dialog aria-label="Terms">
<form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <strong>Terms and conditions</strong>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <h1 >Copyright</h1>
            <p>The mango is a juicy stone fruit belonging to the genus Mangifera,
                consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
            </p>

            <h1>Limitation of Liability</h1>
            <p>The mango is a juicy stone fruit belonging to the genus Mangifera,
                consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
            </p>

            <h1>Visitor responsibility</h1>
            <p>The mango is a juicy stone fruit belonging to the genus Mangifera,
                consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
            </p>

            <h1>User responsibility</h1>
            <p>The mango is a juicy stone fruit belonging to the genus Mangifera,
                consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
            </p>

            <h1>Cookies</h1>
            <p>The mango is a juicy stone fruit belonging to the genus Mangifera,
                consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
            </p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="answer(true)">
            Accept & Submit!
        </md-button>
        <md-button ng-click="answer(false)">
            Decline!
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>